body {
    margin-top:25px;
    margin-left:150px;
    margin-right:150px;
    background-color:#EFEFE9;
    font-family:'Urbanist', sans-serif;
}

/*nav bar code*/

.nav-bar {
    display:flex;
    justify-content:space-between;
    font-size:15px;
}
.navigate {
    display:flex;
    justify-content:inline;
    gap:10px;
    white-space:nowrap;
}
.container {
    display:flex;
    justify-content:flex-end;
    gap:15px;
}
#home-bold {
    font-weight:bold;
}
.hover1:hover {
    color:#728C69;
    font-weight:bold;
}
a {
    text-decoration:none;
    color:inherit;
}


.about-me {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-top:100px;
}
.me {
    gap:10px;
    width:50%;
}
.paragraph-spacing {
    padding-top:15px;
}
h1 {
    font-size:50px;
    margin-top:50px;
    letter-spacing:2px;
    font-weight:bold;
}
h2 {
    font-size:20px;
    color:#728C69;
    padding-top:15px;
}
img {
    margin-top:50px;
    width:400px;
    height:auto;
}
.about-image {
    display:flex;
    justify-content:flex-end;
}
.email {
    display:flex;
    flex-direction:row;
    justify-content:inline;
    gap:3px;
    margin-top:150px;
    margin-bottom:0px;
    font-size:20px;
}
.connect {
    color:#728C69;
}
.line-design {
    padding-top:150;
}
.footer {
    display:flex;
    justify-content:inline;
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}
.footer-styles {
    display:flex;
    justify-content:center;
    gap:15px;
}
    