.nav-bar {
    display:flex;
    justify-content:space-between;
    font-size:15px;
}
.navigate {
    display:flex;
    justify-content:inline;
}
.container {
    display:flex;
    justify-content:flex-end;
    gap:15px;
}
#home-bold {
    font-weight:bold;
}
.hover1:hover {
    color:#728C69;
    border:10px, black;
    font-weight:bold;
}
a {
    text-decoration:none;
    color:inherit;
}