body {
    margin-top:25px;
    margin-left:150px;
    margin-right:150px;
    background-color:#EFEFE9;
    font-family:helvetica;
}
.nav-bar {
    display:flex;
    justify-content:space-between;
    font-size:15px;
}
.navigate {
    display:flex;
    justify-content:inline;
}
.container {
    display:flex;
    justify-content:flex-end;
    gap:15px;
}
#about-bold {
    font-weight:bold;
}
.hover1:hover {
    color:#728C69;
    border:10px, black;
    font-weight:bold;
}
a {
    text-decoration:none;
    color:inherit;
}
.me {
    display:flex;
    flex-direction:column;
    gap:0px;
}
h1 {
    font-size:40px;
    margin-top:150px;
}
img {
    width:400px;
    height:auto;
}
.footer {
    display:flex;
    justify-content:inline;
    font-family:helvetica;
}
.footer-styles {
    display:flex;
    justify-content:center;
    gap:15px;
}