body {
    margin-top:25px;
    margin-left:150px;
    margin-right:150px;
    background-color:white;
    font-family:'Urbanist', sans-serif;
}

/*nav-bar code*/

.nav-bar {
    display:flex;
    justify-content:space-between;
    font-size:15px;
}
.navigate {
    display:flex;
    justify-content:inline;
    gap:10px;
    white-space:nowrap;
}
.container {
    display:flex;
    justify-content:flex-end;
    gap:15px;
}
#home-bold {
    font-weight:bold;
}
.hover1:hover {
    color:#728C69;
    font-weight:bold;
}
a {
    text-decoration:none;
    color:inherit;
}

/* heading */

h1 {
    display:flex;
    justify-content:center;
    font-size:50px;
    font-weight:bold;
    letter-spacing:2px;
    margin-top:150px;
}
button {
    background-color:#728C69;
}
.form {
    display:flex;
    justify-content:center;
    padding-top:35px;
}

#fileInput {
    display:none;
}
/*
.customUploadButton {
    display:inline-block;
    justify-content:space-evenly;
    border:2px solid black;
    padding:1px 6px;
    background-color:#f0f0f0;
    color:black;
    cursor:pointer;
    border-radius:1px;
}

/* vertical text */

.vertical-text {
    position: fixed;
    left: 0;
    top: 90%;
    transform: rotate(-90deg);
    transform-origin: left top;
    font-size:12px;
    white-space:nowrap;
    margin-left: 50px;
}

.vertical-line {
    position:fixed;
    left: 0;
    top: 61%;
    width: 0.5px;
    height: 100px;
    background-color: #000;
    margin-left: 57px;
}

.custom-file-label {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    background-color: #0F6EFD;
    border-radius: 0.35rem;
    display: flex;
    align-items: center;
}
.custom-file-label::after {
    content: "Upload"
}
.custom-file-input:valid+.custom-file-label::after {
    content: "File uploaded!";
}
.custom-file {
    position: relative;
    display: inline-block;
}
.custom-file-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.custom-file-input:focus+.custom-file-label, .custom-file-input.has-focus+.custom-file label {
    border-color: red;
    box-shadow: 0 0 0 0.2rem rgba(0. 123, 255, 0.25);
}

/* footer code */

footer {
    padding-bottom:15px;
}

.line-design {
    padding-top:80px;
}

.footer {
    display:flex;
    justify-content:center;
}

.footer-styles {
    display:flex;
    gap:15px;
}


















