body {
    margin-top:25px;
    margin-left:150px;
    margin-right:150px;
    background-color:white;
    font-family:'Urbanist', sans-serif;
}

/* nav-bar code */

.nav-bar {
    display:flex;
    justify-content:space-between;
    font-size:15px;
}
.navigate {
    display:flex;
    justify-content:inline;
    gap:10px;
    white-space:nowrap;
}
.container {
    display:flex;
    justify-content:flex-end;
    gap:15px;
}
#home-bold {
    font-weight:bold;
}
.hover1:hover {
    color:#728C69;
    font-weight:bold;
}
a {
    text-decoration:none;
    color:inherit;
}

/* heading */

h1 {
    display:flex;
    justify-content:center;
    font-size:50px;
    font-weight:bold;
    letter-spacing:2px;
    margin-top:150px;
}
button {
    background-color:#728C69;
}
.form {
    display:flex;
    justify-content:center;
    padding-top:35px;
}
.fileInput {
    display:none;
}
.file-label {
    display:inline-block;
    justify-content:space-evenly;
    border:2px solid black;
    padding:1px 6px;
    background-color:#f0f0f0;
    color:black;
    cursor:pointer;
    border-radius:1px;
}

/* footer code */

.line-design {
    padding-top:400px;
}
.footer {
    display:flex;
    justify-content:center;
}
.footer-styles {
    display:flex;
    justify-content:center;
    gap:15px;
}