body {
    margin-top:25px;
    margin-left:150px;
    margin-right:150px;
    background-color:white;
    font-family:'Urbanist', sans-serif;
}

/* nav-bar code */

.nav-bar {
    display:flex;
    justify-content:space-between;
    font-size:15px;
}
.navigate {
    display:flex;
    justify-content:inline;
    gap:10px;
    white-space:nowrap;
}
.container {
    display:flex;
    justify-content:flex-end;
    gap:15px;
}
#home-bold {
    font-weight:bold;
}
.hover1:hover {
    color:#728C69;
    font-weight:bold;
}
a {
    text-decoration:none;
    color:inherit;
}

/* heading */

h1 {
    display:flex;
    justify-content:center;
    font-size:50px;
    font-weight:bold;
    letter-spacing:2px;
    margin-top:150px;
}
button {
    background-color:#728C69;
}
.form {
    display:flex;
    justify-content:center;
    padding-top:35px;
}


#fileInput {
    display:none;
}

.customUploadButton {
    display:inline-block;
    justify-content:space-evenly;
    border:2px solid black;
    padding:1px 6px;
    background-color:#f0f0f0;
    color:black;
    cursor:pointer;
    border-radius:1px;
}

/* vertical text */

.vertical-text {
    position: fixed;
    left: 0;
    top: 90%;
    transform: rotate(-90deg);
    transform-origin: left top;
    font-size:12px;
    white-space:nowrap;
    margin-left: 50px;
}

.vertical-line {
    position:fixed;
    left: 0;
    top: 59%;
    width: 0.5px;
    height: 100px;
    background-color: #000;
    margin-left: 57px;
}

/* content code */

.heading {
    display:flex;
    flex-direction:column;
    gap:10px;
    width:50%;
}

h1 {
    display:flex;
    justify-content:flex-start;
    font-size:50px;
    font-weight:bold;
    letter-spacing:2px;
    margin-top:150px;
    color:#728C69;
}

#blurb {
    font-size:30px;
    color:#A3A3A3;
}

h2 {
    font-size:30px;
    font-weight:bold;
    margin-top:150px;
    color:#728C69;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 7rem; 
    margin-top:25px;
}
  
.col {
    column-gap: 15px;
    
}

.row-other {
    display: flex;
    justify-content: space-evenly;
    align-items: inline;   
    width:100%;
}
  
.col-other {
    flex: 1;         
    text-align: center;     
    padding:10px;
    margin-top:25px;
    min-height: 170px;
}

.centered-list {
    display:inline-block;
}

ul {
    list-style-position:inside;
    padding-left:0px;
    margin-left:0px;
    margin-top:15px;
}

li {
    padding-left:5px;
    text-align:left;
    font-size:17px;
}
  
.subtitle {
    font-size:25px;
    color:#A3A3A3;
}

p {
    font-size:17px;
    margin-top:15px;
}

.summary1 {
    margin-top:15px;
}

.contents-margins {
    margin-top:15px;
}

hr {
    margin-top:25px;
}

.contents-stickybar1 {
    display:flex;
    text-align:center;
    justify-content:space-evenly;
    font-size:17px;
    background-color:white;
    overflow:hidden;
    position:relative;
    top: 0;
    width: 100%;
    margin:0;
    border-bottom: 0.25 solid transparent;
}

.contents-stickybar2 {
    display:flex;
    text-align:center;
    justify-content:space-evenly;
    font-size:17px;
    background-color:white;
    overflow:hidden;
    position:relative;
    top: 0;
    width: 100%;
    margin:0;
    border-bottom: 0.25px solid lightgray;
}

.margin-spacing {
    margin-top:30px;
}

.sticky-nav {
    position: sticky; /* Sticks to the top */
    top: -1px;
    width: 100%;
}

h7 {
    font-size:30px;
    font-weight:bold;
    color:#728C69;
}

h8 {
    margin-top:25px;
}

.project-phases {
    display:flex;
    text-align:center;
    justify-content: space-evenly;
}

.bordered-text {
    display:flex;
    text-align:center;
    justify-content: space-evenly;
    border: 1px dashed gray;
    padding: 3px;
    display: inline-block; /* keeps the border close to the text */
    border-radius: 5px; /* optional: adds rounded corners */
    color:#728C69;
    text-align:center;
}

.phases {
    display:inline-block;
    text-align:center;
    font-size:10px;
    padding:10px;
}

h12 {
    font-size:30px;
    font-weight:bold;
    color:#728C69;
}
.underline {
    text-decoration:underline;
    color:#A3A3A3;
}

.subtitle-spacing {
    margin-top:15px;
}

.bold-green {
    color:#728C69;
}

h18 {
    font-size:30px;
    font-weight:bold;
    color:#728C69;
}

h19 {
    font-size:30px;
    font-weight:bold;
    color:#728C69;
}

h20 {
    font-size:30px;
    font-weight:bold;
    color:#728C69;
}

h21 {
    font-size:30px;
    font-weight:bold;
    color:#728C69;
}

h22 {
    display:flex;
    justify-content:center;
}

/* footer code */

.line-design {
    padding-top:400px;
}
.footer {
    display:flex;
    justify-content:center;
}
.footer-styles {
    display:flex;
    justify-content:center;
    gap:15px;
}