body {
    margin-top:25px;
    margin-left:150px;
    margin-right:150px;
    background-color:#EFEFE9;
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}
.nav-bar {
    display:flex;
    justify-content:space-between;
    font-size:15px;
}
.navigate {
    display:flex;
    justify-content:inline;
}
.container {
    display:flex;
    justify-content:flex-end;
    gap:15px;
}
.hover1:hover {
    color:#728C69;
    font-weight:bold;
}
a {
    text-decoration:none;
    color:inherit;
}
h1 {
    display:flex;
    justify-content:center;
    font-size:50px;
    font-weight:bold;
    letter-spacing:2px;
    margin-top:150px;
}
footer {
    padding-bottom:0px;
}
.email {
    display:flex;
    flex-direction:row;
    justify-content:inline;
    gap:3px;
    margin-top:150px;
    margin-bottom:0px;
    font-size:20px;
}
.connect {
    color:#728C69;
}
.line-design {
    padding-top:150;
}
.footer {
    display:flex;
    justify-content:inline;
}
.footer-styles {
    display:flex;
    justify-content:center;
    gap:15px;
}