body {
    margin-top:25px;
    margin-left:150px;
    margin-right:150px;
    background-color:white;
    font-family:'Urbanist', sans-serif;
}

/*nav-bar code*/

.nav-bar {
    display:flex;
    justify-content:space-between;
    font-size:15px;
}
.navigate {
    display:flex;
    justify-content:inline;
    gap:10px;
    white-space:nowrap;
}
.container {
    display:flex;
    justify-content:flex-end;
    gap:15px;
}
#home-bold {
    font-weight:bold;
}
.hover1:hover {
    color:#728C69;
    font-weight:bold;
}
a {
    text-decoration:none;
    color:inherit;
}

/* vertical text */

.vertical-text {
    position: fixed;
    left: 0;
    top: 90%;
    transform: rotate(-90deg);
    transform-origin: left top;
    font-size:12px;
    white-space:nowrap;
    margin-left: 50px;
}

.vertical-line {
    position:fixed;
    left: 0;
    top: 67%;
    width: 0.5px;
    height: 100px;
    background-color: #000;
    margin-left: 57px;
}

/*headings*/

h1 {
    font-size:50px;
    font-weight:bold;
    letter-spacing:2px;
    margin-top:150px;
}

/*case studies layout code*/

.positioning1 {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding-top:150px;
}

.column-positioning1 {
    display:flex;
    flex-direction:column;
    align-items:space-around;
    white-space:normal;
}

.image-positioning {
    /* margin-top:50px; */
    overflow: hidden;
    border-top-left-radius: 100px;    
}


/* this class is to be edited (class=title-positioning) */

.container2 {
    width:50%;
}

.hover2:hover {
    color:#728C69;
    font-weight:bold;
}
.project-title {
    font-size:25px;
    padding-top:50px;
    font-weight:bold;
    width:70%;
}
.subtitle {
    font-size:17px;
    color:#A3A3A3;
    padding-top:10px;
    word-wrap:break-word;
    width:70%;
}

img {
    width:600px;
    height:400px;
}

.skills {
    display:flex;
    justify-content:space-between;
    text-align:inline;
    width:35%;
    align-items:flex-end;
    margin-top:15px;
}

.skills1 {
    display:flex;
    justify-content:space-between;
    text-align:inline;
    width:50%;
    align-items:flex-end;
    margin-top:15px;
}

.skills2 {
    display:flex;
    justify-content:space-between;
    text-align:inline;
    width:45%;
    align-items:flex-end;
    margin-top:15px;
}

.skills3 {
    display:flex;
    justify-content:space-between;
    text-align:inline;
    width:28%;
    align-items:flex-end;
    margin-top:15px;
}

.bordered-text {
    border: 1px dashed gray;
    padding: 5px;
    display: inline-block; /* keeps the border close to the text */
    border-radius: 5px; /* optional: adds rounded corners */
    color:white;
    background-color:#728C69;
}

p {
    margin:0;
}

.projects {
    margin-top:150px;
    margin-bottom:150px;
}






/*lets connect code*/

.email {
    display:flex;
    flex-direction:row;
    justify-content:inline;
    gap:3px;
    margin-top:150px;
    margin-bottom:0px;
    font-size:20px;
}
.connect {
    color:#728C69;
}

/*footer code*/

footer {
    padding-bottom:15px;
}

.line-design {
    padding-top:150px;
}

.footer {
    display:flex;
    justify-content:center;
}
.footer-styles {
    display:flex;
    gap:15px;
}

/*
@media (min-width:576px) {
    body {
        margin-top:25px;
        margin-left:150px;
        margin-right:150px;
        background-color:#EFEFE9;
        font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    }
    .me {
        display:flex;
        flex-direction:column;
        gap:10px;
        width:100%;
    }
    h1 {
        font-size:70px;
    }
    .intro {
        font-size:40px;
    }
    .background {
        font-size:32px;
    }
}
*/


