html {
    scroll-behavior: smooth;
}
body {
    margin-top:25px;
    margin-left:150px;
    margin-right:150px;
    background-color:white;
    font-family:'Urbanist', sans-serif;
}

/*nav-bar code*/

.nav-bar {
    display:flex;
    justify-content:space-between;
    font-size:15px;
    font-family: "Open-Sans", sans-serif;
}
.navigate {
    display:flex;
    justify-content:inline;
    gap:10px;
    white-space:nowrap;
}
.container {
    display:flex;
    justify-content:flex-end;
    gap:40px;
}
.hover1:hover {
    color:#728C69;
    font-weight:bold;
}
a {
    text-decoration:none;
    color:inherit;
}

/* vertical text */

.vertical-text {
    position: fixed;
    left: 0;
    top: 90%;
    transform: rotate(-90deg);
    transform-origin: left top;
    font-size:12px;
    white-space:nowrap;
    margin-left: 50px;
}

.vertical-line {
    position:fixed;
    left: 0;
    top: 48%;
    width: 0.5px;
    height: 100px;
    background-color: #000000;
    margin-left: 57px;
}

/* content code */

.row-positioning {
    display:flex;
    justify-content:space-between;
    text-align:inline;
}

.image-positioning {
    display:flex;
    justify-content:flex-end;
    margin-top:50px;
    overflow: hidden;
    border-top-left-radius: 100px;   
}

.heading {
    display:flex;
    flex-direction:column;
    gap:10px;
    width:50%;
}

h1 {
    font-size:50px;
    font-weight:200;
    letter-spacing:2px;
    margin-top:200px;
    font-family: 'Lora', sans-serif;
}

#blurb {
    font-size:30px;
    color:#A3A3A3;
    font-family:'Open-Sans', sans-serif;
}

hr {
    color:#728C69;
    margin-top:200px;
}

.row-other {
    display: flex;
    justify-content: space-evenly;
    align-items: inline;   
    width:100%;
}
  
.col-other {
    flex: 1;         
    text-align: center;     
    padding:10px;
    min-height: 170px;
    margin-top:50px;
}

.contents {
    font-size:25px;
    font-family:'Lora', sans-serif;
    font-weight:200;
}

ul {
    list-style-position:inside;
    padding-left:0px;
    margin-left:0px;
    margin-top:15px;
}

li {
    padding-left:5px;
    text-align:left;
    font-size:17px;
}
  
.subtitle {
    font-size:25px;
    font-family:'Lora', sans-serif;
    font-weight:bold;
}

.subtitle-description {
    font-size:15px;
    font-family:'Open-Sans', sans-serif;
}

strong {
    color:#728C69;
}

.centered-list {
    display:inline-block;
    font-family:'Open-Sans', sans-serif;
    font-size: 15px;
    color:#A3A3A3;
}

.section-divider1 {
    margin-top:25px;
}

.section-title {
    color:#A3A3A3;
    font-family: 'Opens-Sans', sans-serif;
    font-size: 15px;
    font-weight:200;
    margin-top:100px;
}

.section-divider2 {
    margin-top:100px;
}

/*footer code*/

footer {
    padding-bottom:15px;
    font-family: "Open-Sans", sans-serif;
    font-size: 15px;
}

.line-design {
    padding-top:210px;
}

.footer {
    display:flex;
    justify-content:center;
}

.footer-styles {
    display:flex;
    gap:40px;
}









