html {
    scroll-behavior: smooth;
}
body {
    margin-top:25px;
    margin-left:150px;
    margin-right:150px;
    background-color:white;
    font-family:'Urbanist', sans-serif;
}

/*nav-bar code*/

.nav-bar {
    display:flex;
    justify-content:space-between;
    font-size:15px;
    font-family: "Open-Sans", sans-serif;
}
.navigate {
    display:flex;
    justify-content:inline;
    gap:10px;
    white-space:nowrap;
}
.container {
    display:flex;
    justify-content:flex-end;
    gap:40px;
}
.hover1:hover {
    color:#728C69;
    font-weight:bold;
}
a {
    text-decoration:none;
    color:inherit;
}

/* vertical text */

.vertical-text {
    position: fixed;
    left: 0;
    top: 90%;
    transform: rotate(-90deg);
    transform-origin: left top;
    font-size:12px;
    white-space:nowrap;
    margin-left: 50px;
}

.vertical-line {
    position:fixed;
    left: 0;
    top: 58%;
    width: 0.5px;
    height: 100px;
    background-color: #000000;
    margin-left: 57px;
}

/* content code */

.row-positioning {
    display:flex;
    justify-content:space-between;
    text-align:inline;
}

.image-positioning {
    display:flex;
    justify-content:flex-end;
    margin-top:50px;
    overflow: hidden;
    border-top-left-radius: 100px;   
}

.heading {
    display:flex;
    flex-direction:column;
    gap:10px;
    width:50%;
}

h1 {
    font-size:50px;
    font-weight:bold;
    letter-spacing:2px;
    margin-top:150px;
    color:#728C69;
}

#blurb {
    font-size:30px;
    color:#A3A3A3;
}










