body {
    margin-top:25px;
    margin-left:150px;
    margin-right:150px;
    background-color:#EFEFE9;
    font-family:helvetica;
}
.nav-bar {
    display:flex;
    justify-content:space-between;
    font-size:15px;
}
.navigate {
    display:flex;
    justify-content:inline;
}
.container {
    display:flex;
    justify-content:flex-end;
    gap:15px;
}
#home-bold {
    font-weight:bold;
}
.hover1:hover {
    color:#728C69;
    font-weight:bold;
}
a {
    text-decoration:none;
    color:inherit;
}
.me {
    display:flex;
    flex-direction:column;
    gap:0px;
}
h1 {
    font-size:40px;
    margin-top:150px;
}
.intro {
    font-size:20px;
    color:#728C69;
}
.positioning1 {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.column-positioning1 {
    display:flex;
    flex-direction:column;
    align-content:space-around;
}
.hover2:hover {
    color:#728C69;
}
.positioning2 {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.project-title {
    font-size:20px;
}
.subtitle {
    font-size:15px;
    font-family:helvetica;
    color:#728C69;
}
img {
    width:550px;
    height:350px;
}
.footer {
    display:flex;
    justify-content:inline;
    font-family:helvetica;
}
.footer-styles {
    display:flex;
    justify-content:center;
    gap:15px;
}


