body {
    margin-top:25px;
    margin-left:150px;
    margin-right:150px;
    background-color:#EFEFE9;
    font-family: 'Urbanist', sans-serif;
}
  
/*nav-bar code*/

.nav-bar {
    display:flex;
    justify-content:space-between;
    font-size:15px;
}
.navigate {
    display:flex;
    justify-content:inline;
}
.container {
    display:flex;
    justify-content:flex-end;
    gap:15px;
}
#home-bold {
    font-weight:bold;
}
.hover1:hover {
    color:#728C69;
    font-weight:bold;
}
a {
    text-decoration:none;
    color:inherit;
}

/*case studies layout code*/

.me {
    display:flex;
    flex-direction:column;
    gap:10px;
    width:50%;
}
h1 {
    font-size:50px;
    font-weight:bold;
    letter-spacing:2px;
    margin-top:150px;
}
.intro {
    font-size:20px;
    color:#728C69;
}
.background {
    width:auto;
}

/*lets connect code*/

.email {
    display:flex;
    flex-direction:row;
    justify-content:inline;
    gap:3px;
    margin-top:150px;
    margin-bottom:0px;
    font-size:20px;
}
.connect {
    color:#728C69;
}
.line-design {
    padding-top:150;
}

/*footer code*/

.footer {
    display:flex;
    justify-content:inline;
}
.footer-styles {
    display:flex;
    justify-content:center;
    gap:15px;
}
/*
@media (min-width:576px) {
    body {
        margin-top:25px;
        margin-left:150px;
        margin-right:150px;
        background-color:#EFEFE9;
        font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    }
    .me {
        display:flex;
        flex-direction:column;
        gap:10px;
        width:100%;
    }
    h1 {
        font-size:70px;
    }
    .intro {
        font-size:40px;
    }
    .background {
        font-size:32px;
    }
}
*/  