body {
    margin-top:25px;
    margin-left:150px;
    margin-right:150px;
    background-color:white;
    font-family:'Urbanist', sans-serif;
    background: white;
    cursor: none;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000;
}

/*nav-bar code*/

.nav-bar {
    display:flex;
    justify-content:space-between;
    font-size:15px;
    font-family: "Open-Sans", sans-serif;
}
.navigate {
    display:flex;
    justify-content:inline;
    gap:10px;
    white-space:nowrap;
}
.container {
    display:flex;
    justify-content:flex-end;
    gap:40px;
}
.hover1:hover {
    color:#728C69;
    font-weight:bold;
}
a {
    text-decoration:none;
    color:inherit;
}

/*brief intro code*/

.me {
    gap:10px;
    width:50%;
}
h1 {
    font-size:50px;
    letter-spacing:2px;
    margin-top:100px;
    font-family: "Lora", sans-serif;
    font-weight: 200;
}
.intro {
    font-size:15px;
    margin-top:25px;
    font-family: "Open-Sans", sans-serif;
}

.intro-bold {
    color:#728C69;
}

.intro-bold:hover {
    color:gray;
}

.background {
    width:100%;
    margin-top:25px;
    font-family: "Open-Sans", sans-serif;
    font-size: 15px;
}

.role {
    font-family: 15px;
    margin-top: 25px;
    font-family: "Open-Sans", sans-serif;
    font-size: 15px;
}

.bordered-text {
    display:flex;
    justify-content:space-between;
    border: 1px dashed gray;
    padding: 5px;
    display: inline-block; /* keeps the border close to the text */
    border-radius: 5px; /* optional: adds rounded corners */
}

.bordered-text:hover {
    background-color:#728C69;
    font-weight:bold;
}

p {
    margin:0;
}

.about-me-image {
    overflow: hidden;
    border-top-left-radius: 100px;  
    border-top-right-radius: 100px;  
    margin-top:50px;
}

.about-me {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-top:100px;
}

/*lets connect code*/

.email {
    display:flex;
    flex-direction:row;
    justify-content:inline;
    gap:10px;
    font-size:16px;
    margin-top:25px;
}
.connect {
    color:#728C69;
}

/*footer code*/

footer {
    font-family: "Open-Sans", sans-serif;
    font-size: 15px;
}

.line-design {
    margin-top:120px;
}

.footer {
    display:flex;
    justify-content:center;
}

.footer-styles {
    display:flex;
    gap:40px;
}

/*
.fadeInEffect {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    width:100%;
    background:white;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        width:100%;
    }
    100% {
        width:0%;
    }
}
/*

/*
@media (min-width:576px) {
    body {
        margin-top:25px;
        margin-left:150px;
        margin-right:150px;
        background-color:#EFEFE9;
        font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    }
    .me {
        display:flex;
        flex-direction:column;
        gap:10px;
        width:100%;
    }
    h1 {
        font-size:70px;
    }
    .intro {
        font-size:40px;
    }
    .background {
        font-size:32px;
    }
}
*/  