body {
    margin-top:25px;
    margin-left:150px;
    margin-right:150px;
    background-color:#EFEFE9;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}
.nav-bar {
    display:flex;
    justify-content:space-between;
    font-size:15px;
}
.navigate {
    display:flex;
    justify-content:inline;
}
.container {
    display:flex;
    justify-content:flex-end;
    gap:15px;
}
#home-bold {
    font-weight:bold;
}
.hover1:hover {
    color:#728C69;
    font-weight:bold;
}
a {
    text-decoration:none;
    color:inherit;
}
.me {
    display:flex;
    flex-direction:column;
    gap:10px;
    width:50%;
    transition: background-color 0.5s ease;
}
h1 {
    font-size:50px;
    font-weight:bold;
    letter-spacing:2px;
    margin-top:150px;
}
.intro {
    font-size:20px;
    color:#728C69;
}
.background {
    font-weight:light;
    width:auto;
}
.positioning1 {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-top:150px;
}
.column-positioning1 {
    display:flex;
    flex-direction:column;
    align-content:space-around;
}
.hover2:hover {
    color:#728C69;
}
.positioning2 {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-top:100px;
}
.project-title {
    font-size:20px;
    padding-top:50px;
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif
}
.subtitle {
    font-size:15px;
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    color:#728C69;
    padding-top:10px;
}
img {
    width:550px;
    height:350px;
}
.email {
    padding-bottom:5px;
}
.line-design {
    padding-top:150px;
}
.footer {
    display:flex;
    justify-content:inline;
    font-family:helvetica;
}
.footer-styles {
    display:flex;
    justify-content:center;
    gap:15px;
}


